
title
{
	font-family: Verdana;
    font-size: 16px;
	color: #ff9900;
	font-weight: bold;
	text-align:center;
	
}
body
{
	font-family: Verdana;
    font-size: 12px;
	color: #353535;
	font-weight: normal;
	text-align:justify;
}
